// В этом файле должны быть стили для БЭМ-блока fixed-btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.fixed-btn {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  padding-top: 14px;
  padding-bottom: 14px;

  @media (min-width: $screen-sm) {
    left: auto;
    right: 20px;
    bottom: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &--hidden {
    display: none;
  }
}
