// В этом файле должны быть стили для БЭМ-блока social-links, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social-links {

  $block-name:                &;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 0 !important;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid $gray;
    transition: border 0.3s;

    &:hover,
    &:focus {

      border-color: #fff;

      #{$block-name}__icon {
        fill: #fff;
      }
    }

    @media (min-width: $screen-lg) {
      width: 30px;
      height: 30px;
      margin-right: 20px;
      border-width: 2px;
    }
  }

  &__item-text {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &__icon {
    fill: $gray;
    transition: fill 0.3s;

    &--instagram {
      transform: scale(0.9);
    }

    @media (min-width: $screen-lg) {
      width: 16px;
      height: 16px;
    }
  }
}
