// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  width: 110px;
  height: 24px;
  white-space: nowrap;

  @media (min-width: $screen-md) {
    width: 160px;
    height: auto;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
